# Ignore hidden files and directories (dotfiles)
.*
# Allow specific hidden files
!.gitignore
!.pylintrc

# Ignore virtual environment folders
*env*/

# Ignore compiled Python files
*.cpython*


# Ignore specific file types across all directories
*.png         # Image files
*.pkl         # Pickle files
*.log         # Log files
